/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'OpenSansExtrabold';
	src: url(../fonts/OpenSans-ExtraBold.ttf);
  }










  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
	  display: block;
  }
  
  body {
	  line-height: 1;
  }
  ol, ul {
	  list-style: none;
  }
  blockquote, q {
	  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
	  content: '';
	  content: none;
  }
  table {
	  border-collapse: collapse;
	  border-spacing: 0;
  }
  
  
  
  @font-face {
	  font-family: 'OpenSansExtrabold';
	  src: url(../fonts/OpenSans-ExtraBold.ttf);
	}
	
  
  
  /*start menubar*/
  
  .menu-bg{
	  background-color: #ffffff;
  }
  
  
  .navbar-nav li a.m-active{
	  color: #d00b01;
  }
  
  
  .navbar-nav li a{
	  color: #313131;
	  font-family: 'OpenSansExtrabold';
	  
  }
  
  
  .navbar-nav li a:hover{
	  color: #c5c5c5;
  }
  
  
  
  /*end menubar*/
  
  
  
  
  
  header{
	  border-top: 5px solid #d00b01;
	  padding: 36px;
	  margin: 56px 0 0 0;
  }
  
  
  
  .logo{
	  width: 276px;
	  margin: 0 auto;
  }
  
  
  .social-icon{
	  float: none;
	  width: 168px;
	  margin: 10px auto;
  }
  
  
  .social-icon ul li{
	  display: inline-block;
  }
  .social-icon ul li a{
	  height: 30px;
	  width: 30px;
	  background-color: #cbc8c8;
	  display: block;
	  text-align: center;
	  padding-top: 7px;
	  border-radius: 100%;
	  color: #ffffff;
	  font-size: 20px;
	  
  
  }
  .social-icon ul li a:hover{
	  background-color: #d00b01;
  }


section{
	margin: 0 0 70px;
}
/* start egestas dolor */
.planing-item{
	text-align: center;
	margin-bottom: 30px;

}
.planing-item .icon{
	height: 70px;
	width: 70px;
	background-color: #d1d1d1;
	margin: 0 auto 20px;
	border-radius: 100%;
	font-size: 36px;
	color: #313131;
}

.planing-item .icon i{
	padding-top: 17px;
}
.planing-item .icon:hover{
	background-color: #d00b01;
}
h2.title{
	font-family: 'OpenSansExtrabold';
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-size: 20px;
}
p{
	font-family: arial;
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
}

.border-color{
		height: 1px;
		background: rgb(246,246,246);
		background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(207,207,207,1) 50%, rgba(246,246,246,1) 100%);
	
}

.slogan-content{
	padding: 40px 0 0px 40px;
	
	font-family: 'OpenSansExtrabold';
	text-transform: uppercase;
}


.slogan-content h2.sub-title{
	font-size: 18px;
	padding-bottom: 10px;
}

.slogan-content h1.big-title{
	font-size: 30px;
	padding-bottom: 40px;
}




.feature-item{
	position: relative;
}

.caption{
	position: absolute;
	top: 120px;
	left: 144px;
	color: #313131;
	font-size: 40px;
	display: none;
}
.feature-item:hover .caption{
	display: block;
}


.about{
	text-align: justify;
}

.about ul li{
	font-size: 12px;
	padding: 0 0 8px 18px;
	position: relative;
}


.about ul li:first-child{
	padding-top: 8px;
}
.about ul li i{

	position: absolute;
	left: 0px;
}

.read-more{
	color: #d00b01;
	font-style: italic;
	text-decoration: none;
}


.lnews-item .date{
	background-color: #d1d1d1;
	height: 70px;
	width: 70px;
	border-radius: 100%;
	text-align: center;
	font-family: 'OpenSansExtrabold';
	font-size: 12px;
	padding-top: 20px;
	margin: 0 12px 0 0;

}
.lnews-item .date span{
	font-size: 17px;
}

h3.title{

	color: #d00b01;
	font-family: 'OpenSansExtrabold';
	font-size: 17px;
	padding-bottom: 16px;
	
}

.author, .author a{
	color: #9d9d9d;
	font-family: 'arial';
	font-size: 12px;
	font-style: italic;
	text-decoration: none;
	padding-bottom: 10px;

}

.news-item .ab{
	padding-top: 18px;
	font-size: 19px;
	text-transform: uppercase;
	color: #d00b01;
	padding-bottom: 10px;
}
.news-item .ab:hover{
	color: #313131;

}
.news-item .author a.h-color:hover{
	color: #d00b01;
}

.read-m{
	color: #d00b01;
	font-style: italic;
	text-decoration: none;
}
.read-m:hover{
	color: #1e1e1e;
}


.mid-boder{
	border: px solid #313131;
}
/* start Latest-tweets */
.Latest-tweets p i{
	width: 25px;
	font-size: 20px;
	float: left;
	padding-top: 5px;
	color: #d00b01;
}
.p-border{
	padding-top: 15px;
	margin-bottom: 17px;
	border-top: 2px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
}
.Latest-tweets p{
	padding-bottom: 15px;
}

.Latest-tweets p a{
	color: #d00b01;
	text-decoration: none;
}
/* end Latest-tweets */

input{
	padding-left: 10px;
	width: 100%;
	font-style: italic;
	margin-bottom: 5px;
	height: 28px;
	border: none;
	border-radius:2px;
	background-color: #d1d1d1;

}
input.message{
	padding-bottom: 108px;
	padding-top: 7px;
}

button.clear-from{
	border: none;
	height: 28px;
	
	font-size: 11px;
	background-color: #313131;
	color: #ffffff;
	font-family:'OpenSansExtrabold';
}
button.send{
	font-family: 'OpenSansExtrabold';
	height: 28px;
	width: 54px;
	font-size: 11px;
	border: none;
	background-color: #d00b01;
	color: #ffffff;
}

.testimonials-color{
	padding-top: 15px;
	padding-bottom: 18px;
	color: #d00b01;
}

.color{
	height: 60px;
	width: 60px;
	margin-bottom: 20px;
	background: #d00b01;
}

.abc h4{
	height: 28px;
	width: 270px;
	padding-left: 11px;
	padding-top: 5PX;
	margin-bottom: 20px;
	background: #eaeaea;
}

.abcd{
	height: 113px;
	width: 270px;
	padding-left: 11px;
	padding-top: 5PX;
	margin-bottom: 20px;
	background: #eaeaea;

}

.social-end ul li{
	display: inline-block;
}
.flickr{
	padding: 3px;
}
.flickr:hover{
	transition: transform .6s;
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}
.end{
	background: #d00b01;
}

.social-end ul li{
	padding: 15px;
	
}
.end .navbar-end li{
	display: inline-block;
}

@media only screen and (min-width: 768px) {
	.logo{
		margin: 0;
	}
	.social-icon{
		margin: 0;
		float: right;
		
	}
	.header{
		margin: 48px 0 0 0;
	}
}